<div class = "filter-wraper">
  <div class = "filter-block"> 
    <p class = "filter-block__filter-criteries-title">Sorting by:</p>
    <button class = "filter-block__filter-criteries-button">Date</button>
    <button class = "filter-block__filter-criteries-button">Count of views</button>
    <div class = "filter-by-keywors-block">
        
            <button class = "filter-by-keywors-block__button">By word</button>
            <input class = "filter-by-keywors-block__input" type = "text">
        
    </div>
  </div> 
</div>
