.header-block{
    width:100%;
    background-color: rgb(60, 136, 126);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    .header-block__app-logo-image{
        height: 60px;
        margin: 0px 20px;
    }

}


@media screen and (max-width: 650px) {
    .header-block{flex-direction: column;
    align-items: center;
    justify-content: center;  
    flex-wrap: wrap;
    }
  }