<div class = "page404">
    <div class ="page404__wraper">
        <img class = "page404__image" src="/assets/icons/raccoon-logo.png">
        <h1 class = "page404__title">404</h1>
        <h2 class = "page404__description">Houston, we have some cookies.</h2>
        <div class = "page404__button-block">
            <button class = "page404__login-button youtube__button" (click) = "navigateToLoginPage()">Login</button>
            <a href= "https://www.youtube.com/">
                <button class = "page404__youtube-button youtube__button">Youtube</button>
            </a>
        </div>
    </div>
</div>