<div class = "wraper">
  <div class="create-card-form youtube-form">
    <h2 class="create-card-form__header youtube-form__header">Create new card</h2>
    <label class="create-card-form__label-login youtube-form__label">Title
        <input class="create-card-form__input-login youtube-form__input" type="text">
    </label>
    <label class="create-card-form__discription youtube-form__label">Discription
        <input class="create-card-form__discription youtube-form__input" type="text">
    </label>
    <label class="create-card-form__img-link youtube-form__label">Img link
        <input class="create-card-form__img-link youtube-form__input" type="text">
    </label>
    <label class="create-card-form__video-link youtube-form__label">Video link
        <input class="create-card-form__video-link youtube-form__input" type="text">
    </label>
    
    <div class="create-card-form__button-block youtube-form__button-block">
        <button class="create-card-form__back-button youtube__button" (click)="goBack()">
            Back
        </button>
    </div>
  </div>
</div>