<div class = "search-item">
    <div class = "search-item__thumbnail" >
        <img class = "search-item__thumbnail-img" src = "blabla" #thumbnail>
    </div>
    <div class = "search-item__counters-panel">
        <div class = "search-item__views-counter item-counter">
            <img class = "search-item__views-counter-icon counter-icon"
                 src="/assets/icons/viewed-counter.svg">
            <p class = "search-item__views-counter counter">{{item.statistics.viewCount}}</p>
        </div>
        <div class = "search-item__likes-counter item-counter">
            <img class = "search-item__likes-counter-icon counter-icon"
                 src="/assets/icons/like-counter.svg">
            <p class = "search-item__likes-counter counter">{{item.statistics.likeCount}}</p>
        </div>
        <div class = "search-item__dislikes-counter item-counter">
            <img class = "search-item__dislikes-counter-icon counter-icon"
                 src="/assets/icons/dislike-counter.svg">
            <p class = "search-item__dislikes-counter counter">{{item.statistics.dislikeCount}}</p>

        </div>
        <div class = "search-item__comments-counter item-counter">
            <img class = "search-item__comments-counter-icon counter-icon"
                 src="/assets/icons/comment-counter.svg">
            <p class = "search-item__comment-counter counter">{{item.statistics.commentCount}}</p>
        </div>
    </div>
    <h2 class = "search-item__title">{{item.snippet.title}}</h2>
    <button class = "search-item__more-button button">More</button>
     
</div>    
