.search-item{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    .search-item__counters-panel{
      display: flex;
      width: 90%;
    }
    .item-counter{
        display:flex;
        width:25%;
    }
    .search-item__title{
        text-align: center;
    }
}